* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 15px;
  /* overflow-y: auto; */
  
}

#example {
  position: relative;
  top: 40px;
  /* overflow-x: auto; */
}

.btn-toolbar {
  position: relative;
  top: 20px;
  /* left: 1px; */
}

.col{
    max-width: 86%;
}

.reponsivepagination {
  position: relative;
  top: 160px;
  display: flex;
  justify-content: right;
}

.footer {
  border-top: 1px solid black;
  position: relative;
  top: 190px;
  display: flex;
  justify-content: flex-end;
}

.footer article {
  display: flex;
  margin-right: 20px;
}

.footer article > div {
  padding: 13px;
}


